body {
    font-family: 'Montserrat', sans-serif;
    margin-top: -100px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    
}

.form-container {
    position: relative;
    width: 40%;
    height: 400px;

    overflow: hidden;
    background: rgb(163, 165, 165);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #312525;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 1px;
}

button {
    width: 30%;
    padding: 10px;
    color: #fff;
    background-color: #4285f4;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2962ff;
}

a {
    text-decoration: none;
    color: #4285f4;
    margin-left: 200px;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.toggle-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.toggle {
    position: relative;
    width: 200px;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
    overflow: hidden;
}

.toggle-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.toggle-left {
    background: #4285f4;
    transform: translateX(0);
}

.toggle-right {
    background: #34a853;
    transform: translateX(100%);
}

.toggle button {
    position: absolute;
    width: 100px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
}



#register {
    left: 100px;
}
#save-login {
    margin-left: 150px;
}
.inputfield{
    margin-right:10px;
    margin-top: 30px;
}
.input-field{
    margin-right:40px;

}
h2{
    margin-top: -10px;
}